fastapi
uvicorn[standard]
python-multipart
asyncpg
sqlalchemy[asyncio]
alembic
google-genai
tree-sitter
tree-sitter-python
tree-sitter-javascript
httpx>=0.28.1
python-dotenv
pydantic
pydantic-settings
coverage
pytest
GitPython
